html,
body,
.container {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  background-color: #326E2B;
}
.container {
  display: flex;
  align-items: center;
  overflow: hidden;
}
#farm {
  background-color: #8BC34A;
  margin: auto;
}